{% if block_user %}
  <div class="block-user">
    <span>Hello {{ user_login }} !</span>
    <a href="/" class="sign-out">Sign Out</a>
  </div>
{% else %}
  <div class="block-user">
    <a href="{{ function('home_url') }}/appointment-scheduling-signin/" class="sign-in">Sign In</a>
  </div>
{% endif %}
